@import url('https://fonts.googleapis.com/css?family=Alegreya');

html, body {
	height: 100%;
}

html {
    font-family: 'Alegreya', serif;
    font-size: 1.125vw;
    background: #151515;
}

body {
	margin: 0px;
}

/* common */

h1 {
	margin: 0px;
	font-weight: inherit;
	font-size: 4vw;
	letter-spacing: -.05vw;
}

h2 {
	margin: 0px;
	font-weight: inherit;
	font-size: 2.25vw;
	padding-bottom: .5vw;
}

h3 {
	margin: 0px;
	font-weight: inherit;
	font-size: 1.5vw;
	margin-top: -.675vw;
}

p {
	text-indent: 4vw;
}

a {
	text-decoration: inherit;
	color: #77A;
}

canvas {
	max-width: 100%;
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    -webkit-transform: translate3d(0, 0, 0)
    touch-action: pinch-zoom;
}

#header {
	text-align: center;
	padding-bottom: .75vw;
	background: #FFF;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#header a {
	color: inherit;
}

/* homepage */

#onecol {
	width: 50vw;
	min-width: 768px;
	margin: 1vw auto;
}

#onecol_label {
	color: #FFF;
	font-size: 2.5vw;
	width: 0px;
	height: 0px;
	transform-origin: 7.1vw 5vw;
	transform: rotate(-90deg);
}

.homethumb {
	position: relative;
	margin: 1vw auto auto auto;
	width: 75%;
}
.homethumb img {
	display: block;
	width: 100%;
}
.homethumb div {
	position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    padding: .6vw 1vw;
    justify-content: flex-end;
    align-items: flex-end;
    opacity: 0;
	background: rgba(0, 0, 0, 0.5);
	transition: all .1s linear;
	color: #FFF;
}
.homethumb:hover div {
	opacity: 1;
}
.homethumb div img {
	width: 50%;
}

/* article */

#spacer {
	width: 100%;
	height: 1vw;
}

#bg {
	padding-bottom: 1vw;
	width: 100%;
	background: #FFF;
}

#twocol {
	width: 65vw;
	min-width: 768px;
	margin: auto;
	padding-left: 10vw;
	padding-top: 1.5vw;
}

#leftcol {
	float: left;
	width: 75%;
}

#leftcol > img {
	width: 80%;
	display: block;
    margin: 1vw auto;
}

.imagegrid {
	font-size: 0;
	margin: -1vw auto;
}
.imagegrid > * {
	display: inline-block;
	width: 46%;
	margin: 2%;
	vertical-align: top;
	margin-bottom: 1vw;
}
.imagegrid img {
	width: 100%;
}
.imagecaption {
	padding-top: .5vw;
	margin: 0% 2.5%;
	font-size: .625vw;
	text-align: justify;
	color: #888;
}

.imagerow {
	text-align: center;
	height: 23.75vw;
}
.imagerow img {
	display: inline-block;
	height: 100%;
	padding: 0 .75vw;
}

.disclaimer {
	color: #BBB;
	font-style: italic;
}

.dotdotdot {
	text-indent: inherit;
	text-align: center;
	font-size: 2vw;
	word-spacing: 3vw;
}
.dotdotdot:after {
	content: "· · ·";
}

.footnote {
	font-size: .875vw;
}

#rightcol {
	margin-left: 75%;
	font-size: 75%;
	padding-left: 2vw;
}
#rightcol > div {
	padding-bottom: 1vw;
}
#rightcol > div > div:not(:first-child) {
    text-indent: 10%;
}

.clear {
	clear: both;
}