@import url('https://fonts.googleapis.com/css?family=Alegreya:400,500,600');

html, body {
	height: 100%;
}

html {
    font-family: 'Alegreya', serif;
    font-size: 1.125vw;
    background: #151515;
}

body {
	min-width: fit-content;
	margin: 0px;
}

/* common */

h1 {
	margin: 0px;
	font-weight: inherit;
	font-size: 4vw;
	letter-spacing: -.05vw;
}

h2 {
	margin: 0px;
	font-weight: inherit;
	font-size: 2.25vw;
	padding-bottom: .5vw;
}

h3 {
	margin: 0px;
	font-weight: inherit;
	font-size: 1.5vw;
}
#headerText h3 {
	margin-top: -.675vw;
}

h6 {
	margin-top: -1vw;
	margin-bottom: 0;
	font-weight: normal;
}

p {
	text-indent: 4vw;
}

a {
	text-decoration: inherit;
	color: #68F;
}

ul {
	padding-left: 4vw;
}

code {
	display: block;
	margin-left: 5%;
	margin-right: 5%;
	padding: 2%;
	overflow-x: auto;
	font-size: 0.725vw;
	background-color: #eee;
	border: .1vw solid #999;
}

input {
	padding: .25vw .25vw;
	font-family: 'Trebuchet MS';
	font-size: inherit;
	border: 2px solid #DDD;
	border-radius: .25vw;
}
input:focus {
	border: 2px solid #AAA;
	outline: none;
}

button {
	box-sizing: border-box;
	padding: .2vw .5vw;
	border-radius: .25vw;
	font-family: inherit;
	font-size: inherit;
	font-weight: bold;
	border: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
button:enabled:hover {
	outline: 2px solid #DDD;
}
button:enabled:active {
	outline: 2px solid #AAA;
}

textarea {
	box-sizing: border-box;
	width:100%;
	padding: 1vw;
	font-family: 'Trebuchet MS';
	font-size: inherit;
	resize: vertical;
	border: 2px solid #DDD;
	border-radius: .5vw .5vw 0 .5vw;
	min-height: 4vw;
}
textarea:focus {
	border: 2px solid #AAA;
	outline: none;
}

#header {
	height: 8vw;
	text-align: center;
	background: #FFF;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#headerCanvas {
	display: inline-block;
	width: 0px;
	margin-right: -1vw;
}

#headerText {
	display: inline-block;
	vertical-align: top;
	padding-top: .15vw;
}

#header a {
	color: inherit;
}

/* homepage */

#homecol {
	width: 75vw;
	min-width: 1152px;
	margin: 1vw auto auto 24vw;
}
#project_col {
	float: left;
	width: 50vw;
	min-width: 768px;
}
#blog_col {
	float: left;
	width: 28vw;
	min-width: 384px;
	margin-left: -4vw;
	color: #FFF;
	font-size: .875vw;
}
#blog_label {
	margin-top: .5vw;
	font-size: 1vw;
}

#homecol_label {
	color: #FFF;
	font-size: 2.5vw;
	width: 0px;
	height: 0px;
	transform-origin: 7.1vw 5vw;
	transform: rotate(-90deg);
}

.homethumb {
	position: relative;
	margin: 1vw auto auto auto;
	width: 75%;
	font-size: 1.5vw;
}
.homethumb img {
	display: block;
	width: 100%;
}
.homethumb div {
	position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    padding: .6vw .75vw;
    justify-content: flex-end;
    align-items: flex-end;
    opacity: 0;
	background: rgba(0, 0, 0, 0.75);
	transition: all .1s linear;
	color: #FFF;
}
.homethumb:hover div {
	opacity: 1;
}
.homethumb div img {
	display: block;
	max-width: 40%;
	max-height: 50%;
	width: auto;
	height: auto;
}

/* article */

#spacer {
	width: 100%;
	height: 1vw;
}

#bg {
	padding-bottom: 1vw;
	width: 100%;
	background: #FFF;
}

#onecol {
	width: 45vw;
	margin: auto;
	padding-top: 1.5vw;
	padding-bottom: 1.5vw;
}

#onecol > img {
	width: 90%;
	display: block;
    margin: 1vw auto;
}

#twocol {
	display: table;
	width: 65vw;
	min-width: 768px;
	height: auto;
	margin: auto;
	padding-left: 10vw;
	padding-top: 1.5vw;
}

#leftcol {
	float: left;
	width: 75%;
}

#leftcol > img {
	width: 80%;
	display: block;
    margin: 1vw auto;
}

.imagegrid {
	font-size: 0;
	margin: -1vw auto;
}
.imagegrid > * {
	display: inline-block;
	width: 46%;
	margin: 2%;
	vertical-align: top;
	margin-bottom: 1vw;
}
.imagegrid img {
	width: 100%;
}
.imagecaption {
	padding-top: .5vw;
	margin: 0% 2.5%;
	font-size: .625vw;
	text-align: justify;
	color: #888;
}

.imagerow {
	text-align: center;
	height: 23.75vw;
}
.imagerow img {
	display: inline-block;
	height: 100%;
	padding: 0 .75vw;
}

.imageheader {
	text-align: center;
}
.imageheader img {
	text-align: center;
	display: inline-block;
	max-width: 50%;
	max-height: 8vw;
	width: auto;
	height: auto;
}
.imageheader p {
	margin: 0;
	text-indent: 0;
	font-style: italic;
	font-size: .85vw;
}

.fullwidth {
	width: 100% !important;
}

.disclaimer {
	color: #BBB;
	font-style: italic;
}

hr {
	width: 80%;
	margin-top: 3vw;
	margin-bottom: 3vw;
}

.dotdotdot {
	text-indent: inherit;
	text-align: center;
	font-size: 2vw;
	word-spacing: 3vw;
}
.dotdotdot:after {
	content: "· · ·";
}

.footnote {
	font-size: .875vw;
}

#rightcol {
	margin-left: 75%;
	font-size: 75%;
	padding-left: 2vw;
}
#rightcol > div {
	padding-bottom: 1vw;
}
#rightcol > div > div:not(:first-child) {
    text-indent: 10%;
}

/* blog */
p > img {
	display: block;
	width: 90%;
	margin: auto;
}
#blog_links {
	width: 125%;
	transform: translate(-12.5%);
	padding-top: 2vw;
	font-weight: bold;
}
#blog_links i {
	margin: 0 0.5vw 0 0.5vw;
}
#home_link {
	left: 50%; 
	position:fixed;
}
#next_link {
	float: right;
}
i {
	text-indent: 0.25vw;
}
.blogcaption {
	text-align: center;
	font-size: .625vw;
	font-style: italic;
	margin-top: -0.8vw;
}
.youtube {
	display: block;
	margin: 0 auto;
	width: 36vw;
	height: 20.25vw;
}
auto-card a {
	color: #000;
	font-weight: 500;
}
.decklist {
	width: 50%;
	margin: auto;
	padding: 1vw;
	background-color: #f9f3e2;
	border: .1vw solid #ab9966;
	column-count: 2;
	white-space: pre-line;
	font-size: .85vw;
	column-rule: .1vw solid #d0d0c0;
}
.bloggifgrid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1vw;
}
.bloggifgrid > div {
	position: relative;
}
.bloggifgrid > div > img {
	width: 100%;
}
.bloggifgrid > div > div {
	display: flex;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #0000FF10;
	justify-content: flex-end;
	align-items: end;
}
.bloggifgrid > div > div > div {
	padding: 1vw;
	color: #006AFF;
	font-weight: bold;
}
.blogzoomimage {
	width: 30vw;
	height: 30vw;
	margin: auto;
	margin-bottom: 1vw;
}
.blogzoomimage:focus {
	outline: none;
}
.blogzoomimage > * > *:focus {
	outline: none;
}
.blogPoemPoems {
	columns: 2;
}
.blogPoemPoem {
	padding: 1vw;
	break-inside: avoid;
	font-size: 1vw;
	font-style: italic;
	text-align: center;
	overflow-wrap: break-word;
}
.blogPoemPoem > cite {
	display: block;
	text-align: right;
	font-size: .625vw;
}
#blogPoemControls {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: .5vw;
}
#blogPoemLettersLeft {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: .4vw .25vw;
}
#blogPoemLettersLeft > span {
	width: 2vw;
	height: 2vw;
	background-color: #E3CFAA;
	filter: drop-shadow(0 .3vw 0 #ccb58a) drop-shadow(0 .1vw .05vw #0002);
	text-align: center;
	line-height: 1.9vw;
	border-radius: .3vw;
	font-family: 'Trebuchet MS';
	font-size: 1.5vw;
}
#blogPoemLettersLeft > span > sub {
	position: relative;
	font-size: .5vw;
	font-weight: bold;
	bottom: .1vw;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#blogPoemLettersOver {
	color: #F00;
	font-weight: bold;
}
.blogpoemdim {
	opacity: 20%;
	user-select: none;
	filter: drop-shadow(0 .3vw 0 #ccb58a) !important;
}

/* ludum dare article */
.ldcaption {
	padding-top: .5vw;
	font-size: .85vw;
	text-align: center;
}
.ldcaption span {
	padding-left: 2vw;
}
.ldcaption span:first-of-type {
	padding-left: 0vw !important;
}
.ldscore {
	padding-top: .2vw;
}
.ldscore > .fa-star {
	width: .9vw;
}
.ldscore > .fa-bell {
	width: .8vw;
}
.lddownload > div {
	padding-left: 27.5%;
	text-indent: 0;
}
.lddownload > div > a > i {
	width: 2vw;
	padding-right: .5vw;
	text-align: center;
}

/* game */
#gameCanvas {
	max-width: 100%;
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    -webkit-transform: translate3d(0, 0, 0)
    touch-action: pinch-zoom;
}

.clear {
	clear: both;
}